#account_container{
    width:81%;
    height:800px;
    border: 1px solid teal;
    margin:auto;
    display: flex;
    

}
#account_container>div{
    /* border-right:1px solid red; */
    width:50%;
    line-height: 25px;
    

}
#account_container p{
    font-size: 18px;
    

}
#account_container>div:nth-child(2){
    border-left: 1px solid red;
    text-align: left;
    padding-left: 30px;
  
}
#account_container>div:nth-child(1)>p:nth-child(2){
    margin-bottom: 40px;
}
#account_container>div:nth-child(2)>p:nth-child(2){
    margin-bottom: 40px;
}

#checkbox{
    display: flex;
    margin-bottom: 10px;
    
}
#checkbox>label{
    
    margin-right:20px;
    
}
#inputs{

    display: block;
}
#inputs>input{
    font-size: 20px;
    width:500px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(218, 216, 216);
}
#confrm{
    font-size: 18px;
}

#register{
    display: block;
    margin-top: 30px;
    width: 120px;
    height: 40px;
    border:none
}
#login_input>input{
    font-size: 20px;
    width:500px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(218, 216, 216);

}

.underline{
    text-decoration: underline;
}
#login_btn{
    background-color: black;
    color:white;
    width:120px;
    height:40px;
    border:none;
    
}

